:root {
    --black: #000000;
    --text: #333333;
    --highlight: #ffb642;
    --dark-blue: #1e4d68;
    --white: #ffffff;
}

.image-overlay {
    background: var(--black);
    opacity: 0.5;
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; 
}

.content-section {
    background-image: url('../img/white_paperboard.png') !important;
}

.content-section.podcast {
    background-image: url('../img/white_paperboard.png') !important;
}

.slide-3.w-slide.podcast {
    width: 50%;
}

.mask-3 {
    text-align: left;
}

@media (max-width: 479px) {
    .slide-3.w-slide.podcast{
        width: 100%;
    }
}
.blog-meta {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    opacity: 0.5;
}

header, section, footer, aside, nav, main, article, figure {
	display: block; 
}
body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
/*    overflow-x: hidden;
  	overflow-y:auto;*/
}
.series-grid-inner:hover .series-grid-item-image .image-color-overlay {
	opacity: 1;
}
.curated-works-link:hover .image-color-overlay {
  	opacity: 1;
}
/*.related-post-inner:hover .related-post-image .image-color-overlay {
	opacity: 1;
}
a:hover .image-color-overlay {
  	opacity: 1;
}
a:hover .related-post-image {
	filter: saturate(0) contrast(1.25);
  }
a:hover .grid-image {
  filter: saturate(0) contrast(1.25);
}*/

      .active a.podcast-grid-inner {
        /*background:#f79450;*/
        background: #299f59;
        /*background: #ffb642;*/
        /*background: #333;*/
        color: white;
      }

      li a {
        color: #333;
        text-decoration: none;
      }

      .active .podcast-grid-image {
        opacity: 0.5;
        display: none
      }

      .active .podcast-grid-image-2 {
        display: flex !important;
      }

      .active h5 {
        display: block;
        opacity: 1;
      }