:root {
    --black: #000000;
    --text: #333333;
    --highlight: #ffb642;
    --dark-blue: #1e4d68;
    --light-blue: #3898EC;
    --white: #ffffff;
    --light-gray-1: #dedede;
    --light-gray-2: #e7e7e7;
}
.header-image.church {
    padding-bottom: 50px;
    text-align: left;
}
.location-heading {
    max-width: 900px;
    margin-bottom: 0px;
    font-size: 2.5rem;
    line-height: 3.5rem;
}
.location-subheading {
    max-width: 900px;
    opacity: 0.8;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
    margin-bottom: 30px;
}
.location-button {
    margin: 10px;
    padding: 5px 10px;
    border: 2px solid var(--highlight);
    transition: background-color 300ms ease, color 300ms ease;
    -webkit-transition: background-color 300ms ease, color 300ms ease;
    color: var(--highlight);
    background-color: transparent;
    font-weight: 500;
    text-transform: uppercase;
}
.location-button:hover {
    background-color: var(--highlight);
    color: var(--text)
}
.location-social-media {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    transition: opacity 300ms ease;
    font-family: 'Fontawesome webfont', sans-serif;
    color: var(--white);
    font-size: 22px;
}
.location-social-media:hover {
    opacity: 0.7
}
.location-button-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: -10px;
    flex-wrap: wrap;
}
.location-sidebar {
    margin-bottom: 20px;
    padding: 0px 20px;
    border: 1px solid var(--light-gray-2);
    background-color: var(--white);
}
.sidebar-section {
    margin-bottom: 20px;
}
.view-map {
    font-size: 14px;
    line-height: 24px;
}
#map {
    width: 100%;
    height: 50vh;
}
.map-modal {
    width: 100%;
    padding: 50px;
    background: var(--white);
}
.div-block-84.map {
    max-width: 1200px
}
.banner-container.left {
    text-align: left;
}
.email-form-button {
    background-color: var(--light-blue);
    font-weight: bold;
    padding: 8px 15px;
    cursor: pointer;
    color: var(--white);
    border: none
}
.email-form-button:hover {
    background-color: #3080c5;
    color: white;
}

.image-overlay {
    background: var(--black);
    opacity: 0.5;
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; 
}

.image-overlay.blog {
    opacity: 0.6;
}

.content-section {
    background-image: url('../img/white_paperboard.png') !important;
}

.content-section.podcast {
    background-image: url('../img/white_paperboard.png') !important;
}

.slide-3.w-slide.podcast {
    width: 50%;
}

.mask-3 {
    text-align: left;
}

@media (max-width: 479px) {
    .slide-3.w-slide.podcast{
        width: 100%;
    }
}
.blog-meta {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    opacity: 0.5;
}

header, section, footer, aside, nav, main, article, figure {
	display: block; 
}
body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
/*    overflow-x: hidden;
  	overflow-y:auto;*/
}
.series-grid-inner:hover .series-grid-item-image .image-color-overlay {
	opacity: 1;
}
.curated-works-link:hover .image-color-overlay {
  	opacity: 1;
}
/*.related-post-inner:hover .related-post-image .image-color-overlay {
	opacity: 1;
}
a:hover .image-color-overlay {
  	opacity: 1;
}
a:hover .related-post-image {
	filter: saturate(0) contrast(1.25);
  }
a:hover .grid-image {
  filter: saturate(0) contrast(1.25);
}*/

.active a.podcast-grid-inner {
    /*background:#f79450;*/
    background: #299f59;
    /*background: #ffb642;*/
    /*background: #333;*/
    color: var(--white);
}

li a {
    color: var(--text);
    text-decoration: none;
}

.active .podcast-grid-image {
    opacity: 0.5;
    display: none
}

.active .podcast-grid-image-2 {
    display: flex !important;
}

.active h5 {
    display: block;
    opacity: 1;
}

a:hover .event-grid-title {
    border-left: 5px solid var(--highlight);
    color: var(--highlight);
    padding-left: 5px;
    padding-right: 0px;
}

.author-grid-inner:hover .author-photo-circle .author-photo-circle-overlay {
	/*display: block;*/
  opacity: 0.5;
}

/*transcript popup*/
.transcript-modal-window {
    display: none;
    z-index: 55;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    opacity: 0;
    padding: 50px 0px;
}
.div-block-84 {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 800px;
    padding: 0px;
}
.close-popup {
    position: absolute;
    top: -30px;
    right: 0;
    color: white;
    font-size: 20px;
}
.transcript-modal {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 600px;
    max-width: 800px;
    padding: 50px;
    background: white;
    transition: padding 200ms ease;
    -moz-transition: padding 200ms ease;
}
@media (max-width: 479px) {
    .transcript-modal {
        padding: 30px;
        max-height: 80vh;
    }
    .map-modal {
        padding: 20px;
        max-height: 80vh;
        overflow-y: scroll;
    }
    .map-modal p {
        font-size: 0.8rem;
        line-height: 1.3rem;
    }
    .map-modal h3 {
        font-size: 1.1rem;
        line-height: 1.3rem;
    }
    #map {
        height: 200px;
    }
}

/****FOOTER*****/
.footer-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -10px;
    flex-direction: row;
}
footer {
    background: var(--white);
    padding: 50px 0px;
    font-size: 18px;
    border-top: 1px solid var(--light-gray-1);
}

.footer-link {
    display: block;

}

.footer-menu-header {
    font-weight: bold;
    text-decoration: underline;
}

.footer-section {
    margin-bottom: 30px;
}
.copyright-bar {
    text-align: center;
    font-size: 16px;
    margin-top: 80px;
}
.made-by-link {
    color: var(--text);
}
@media (max-width: 767px) {
    .footer-container {
        margin: 0px;
    }
    .copyright-bar {
        margin-top: 30px;
    }
}
/****FLEX COL*****/
.flex-col {
    padding: 0px 10px;
}
.ten {
    width: 10%;
}
.twenty {
    width: 20%;
}
.twenty-five {
    width: 25%;
}
.thirty {
    width: 30%;
}
.thirty-three {
    width: 33.33%;
}
.forty {
    width: 40%;
}
.fifty {
    width: 50%;
}
.sixty {
    width: 60%;
}
.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    direction: row;
}
@media (max-width: 991px) {
    footer .flex-col {
        width: 100%;
        margin-bottom: 50px; 
    }
    footer .thirty.flex-col {
        width: 50%;
    }
}

@media (max-width: 767px) {
    footer .flex-col {
        width: 100%;
        margin-bottom: 50px; 
        padding: 0px
    }
    footer .thirty.flex-col {
        width: 100%;
    }
}



/*****TEXT******/

p {
    margin-top: 0px;
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 2rem;
  }

.div-block-4 p {
    font-size: .9rem;
    line-height: 1.8rem;
}

.blog-grid-heading {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-right: 10px;
    -webkit-transition: padding 300ms ease, border 300ms ease, color 300ms ease;
    transition: padding 300ms ease, border 300ms ease, color 300ms ease;
    font-size: 1.4rem;
    line-height: 2rem;
  }

.heading-36 {
    font-size: 1.5rem;
    line-height: 2rem;
}

.w-richtext.events h2 {
    font-size: 1.1rem;
    line-height: 1.8rem;
} 

.w-richtext.events h3 {
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 600;
}



@media (max-width: 764px) {}

/**** Blog Text Formatting ***/
  .blog-single-rich-text-element {
    margin-top: -20px;
    margin-bottom: 20px;
  }
  
  .blog-single-rich-text-element p {
    margin-top: 1rem;
    margin-bottom: 2rem;
    line-height: 2.5rem;
    font-size: 1.1rem
  }
  
  .blog-single-rich-text-element h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--dark-blue); 
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: 500;
  }
  
  .blog-single-rich-text-element h2 {
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    line-height: 3.2rem;
  }
  
  .blog-single-rich-text-element blockquote {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0rem 1.5rem;
    font-style: italic;
  }
  
  .blog-single-rich-text-element img {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .blog-single-rich-text-element figcaption {
    margin-top: -1rem;
  }
  
  .blog-single-rich-text-element h1 {
    margin-top: 1rem;
  }
  
  .blog-single-rich-text-element h4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .blog-single-rich-text-element iframe {
      width: 100%;
      height: 450px;
  }

@media (max-width: 767px) {
    .blog-single-rich-text-element iframe {
        height: 300px;
    }
}

@media (max-width: 479px) {
    .blog-single-rich-text-element iframe {
        height: 200px;
    }
}

/*pagination*/
.pagination {
    margin: 18px -2px;
    display: flex;
    justify-content: space-between;
}
.pagination-button-wrap {
    display: flex;
}
.pagination-button {
    border: 1px solid var(--light-gray-1);
    padding: 3px 15px;
    font-family: "fontawesome webfont";
    background: var(--white);
    font-size: 20px;
    margin: 2px;
    color: #adadad;
    transition: color 300ms ease;
    -moz-transition: color 300ms ease;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 100px;
}
.pagination-button:hover {
    color: var(--dark-blue);

}