{{ partial "header.html" . }}
<div class="header-image articles" style="background-image: URL({{ .Params.FeaturedImage}}?w=2000&h=300&q=40&fit=crop)">
    <div class="banner-container">
      <h1 class="archive-heading">{{ .Title }}</h1>
    </div>
    <div class="image-overlay"></div>
  </div>
  <div class="content-section">
    <div class="container">
      <div class="column-row w-row">
        <div class="column-left w-col w-col-8">
          <div class="standard-grid-wrapper">
            {{ range (.Paginator 10).Pages }}
              {{ partial "grid-item.html" . }}
            {{ end }}
          </div>
          <div class="pagination">
            <div class="pagination-button-wrap">
              {{ if .Paginator.HasPrev }}
                <a class="pagination-button" href="{{ .Paginator.Prev.URL }}">
                    <span style="font-size: 14px"><i class="fas fa-chevron-left"></i></span>
                    <span style="font-family: Poppins, san-serif; font-size: 14px; line-height: 24px">&nbsp;&nbsp;prev</span>
                </a>
              {{ end }}
            </div>
            <div class="pagination-button-wrap">
              {{ if .Paginator.HasNext }}
                  <a class="pagination-button" href="{{ .Paginator.Next.URL }}">
                    <span style="font-family: Poppins, san-serif; font-size: 14px; line-height: 24px">next&nbsp;&nbsp;</span>
                    <span style="font-size: 14px"><i class="fas fa-chevron-right"></i></span>
                  </a>
              {{ end }}
            </div>            
          </div>
        </div>
        <div class="column-right w-col w-col-4">
          <div class="sidebar-wrapper">
            <h3 class="sidebar-heading">Popular Topics</h3>
            <div class="unordered-list-2 w-list-unstyled">
            
            {{ range first 10 .Site.Taxonomies.tags.ByCount }}
              <a href="/tags/{{ .Name | urlize }}" class="list-item-2">
                <div class="text-block-4">{{ replaceRE "-" " " .Name }}</div>
              </a>
            {{ end }}
            
            </div>
            <h3 class="sidebar-heading">Collections</h3>
            <div class="div-block-63">
            {{ range $name, $taxonomy := .Site.Taxonomies.collections }}
              {{ range $.Site.Pages }}
                {{ if eq .Section "blogCollection" }}
                  {{ if eq .Slug $name }}
                  <div class="div-block-62">
                    <a href="/collections/{{ .Slug }}" class="curated-works-link w-inline-block" style="background: #333; background-image: URL({{ .Params.FeaturedImage }}?w=400&q=60&fit=fill); background-size: cover; background-position: center;">
                      <div class="text-block-28">{{ .Title }}</div>
                      <div class="image-color-overlay"></div>
                      <div class="image-overlay"></div>
                    </a>
                  </div>
                  {{ end }}
                {{ end }}
              {{ end }}
            {{ end }}
            </div>
            {{ partial "mailchimp-form-sidebar.html" . }}
          </div>
        </div>
      </div>
    </div>
  </div>
{{ partial "footer.html" . }}