{{ partial "header.html" . }}
<div class="header-image articles" style="background-image: URL({{ .Params.FeaturedImage}}?w=2000&h=600&q=50&fit=crop)">
    <div class="banner-container">
      <h1 class="archive-heading">{{ .Title }}</h1>
    </div>
    <div class="image-overlay"></div>
  </div>
  <div class="content-section">
    <div class="container">
      <div class="column-row w-row">
        <div class="column-left w-col w-col-8">
          <div class="standard-grid-wrapper">
            {{ range .Data.Pages }}
              {{ partial "grid-item.html" . }}
            {{ end }}
          </div>
        </div>
        <div class="column-right w-col w-col-4">
          <div class="sidebar-wrapper">
            <h3 class="sidebar-heading">Popular Topics</h3>
            <div class="unordered-list-2 w-list-unstyled">
            
            {{ range first 10 .Site.Taxonomies.tags.ByCount }}
              <a href="/tags/{{ .Name | urlize }}" class="list-item-2">
                <div class="text-block-4">{{ replaceRE "-" " " .Name }}</div>
              </a>
            {{ end }}
            
            </div>
            <h3 class="sidebar-heading">Collections</h3>
            <div class="div-block-63">
            {{ range $name, $taxonomy := .Site.Taxonomies.collections }}
              <div class="div-block-62">
                <a href="/collections/{{ $name | urlize }}" class="curated-works-link w-inline-block" style="background: #333; background-image: URL({{ $.Params.FeaturedImage}}?w=400&q=60&fit=scale)">
                  <div class="text-block-28">{{ replaceRE "-" " "  $name | title }}</div>
                  <div class="image-color-overlay"></div>
                </a>
              </div>
            {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ partial "footer.html" . }}