{{ define "main"}}

<div class="header-image podcast" style="background-image: URL({{ .Params.FeaturedImage}}?w=1800&q=80)">
  <div class="image-overlay"></div>
  <div class="banner-container">
    <h1 class="archive-heading-podcast">{{ .Title }}</h1>
  </div>
</div>
<div class="content-section podcast">
  <div data-ix="audio-player-initial-appearance" class="audio-player">
    <div class="hide-player-button-container">
      <a href="#" class="hide-player-button w-inline-block" data-ix="hide-player">
        <div class="text-block-21"></div>
        <div class="hide-player-initial-text"> hide player</div>
      </a>
    </div>
    <h4 id="player-title" class="heading-21"><strong>Now playing</strong></h4>
    <div class="html-embed-8 w-embed">
      <audio id="audio" preload="auto" tabindex="0" controls controlslist="" style="width: 100%">
        <source src="">
        Your browser does not support this audio player. Please upgrade your browse . We recommend chrome or firefox.
      </audio>
    </div>
  </div>
  <div class="expand-player-container" data-ix="audio-player-initial-appearance">
    <div class="expand-player-button" data-ix="new-interaction-3">
      <div class="text-block-22"></div>
      <div>  expand player</div>
    </div>
  </div>
  <div class="container">
    <div class="column-row w-row">
      <div class="column-6 w-col w-col-4">
        {{ partial "podcast-sidebar.html" . }}
      </div>
      <div class="column-right w-col w-col-8">
        <div>
          <h2 style="margin-top: 0px" class="sidebar-heading">Current Shows</h2>
          {{ range where .Site.Pages "Section" "=" "series" }}
            {{ if ne .File.Path "" }}
              <div class="div-block-62">
                  <a href="/series/the-prophetic-voice-of-our-time" data-ix="homepage-grid-hover" class="homepage-grid-item w-inline-block">
                    <div class="homepage-grid-image-overlay" style="background-image: linear-gradient(119deg, rgba(0, 0, 0, 0.6), rgba(51, 51, 51, 0) 72%), url({{ .Params.FeaturedImage }}?w=800&q=80); transform-style: preserve-3d; transition: transform 300ms, opacity 300ms; opacity: 1; transform: scaleX(1) scaleY(1) scaleZ(1);">
                    </div>
                    <h2 class="home-grid-title">{{ .Title }}</h2>
                    <h4 class="home-grid-subheading">with Pastor Cris</h4>        
                    <h4 class="home-grid-button">View All Episodes</h4> 
                </a>
              </div>
            {{ end }}
          {{ end }}
        </div>
        <h2 class="sidebar-heading">Recent Episodes</h2>
        <div data-animation="slide" data-duration="500" data-infinite="1" class="slider-2 w-slider">
            <div class="mask-3 w-slider-mask">
                {{ range first 6  .Data.Pages }}
                  <div class="slide-3 w-slide podcast">
                    <a href="{{ .RelPermalink }}" class="related-post-inner w-inline-block">
                      <div class="relative-wrapper">
                        {{ if .Params.Thumbnail }}
                        <div class="related-post-image" style="background-image: url({{ .Params.Thumbnail }})"></div>
                        {{ else }}
                          {{ if .Params.FeaturedImage }}
                            <div class="related-post-image" style="background-image: url({{ .Params.FeaturedImage }}?w=400&h=200&q=80&fit=fill)"></div>
                          {{ else }}
                            <div class="related-post-image" style="background: #adadad;">
                              <div style="position: absolute; bottom: 0; top: 0; left: 0; right: 0; display: flex; align-items: center; justify-content: center; font-family: Fontawesome webfont; color: white; font-size: 100px; opacity: 1"></div>
                            </div>
                          {{ end }}
                        {{ end }}
                        <div class="image-color-overlay blue"></div>
                      </div>
                      <div class="div-block-52-copy">
                        <h3 class="heading-40">{{ .Title }}</h3>
                        <p class="paragraph-10">{{ .Description | truncate 50 }}</p>
                      </div>
                    </a>
                  </div>
                {{ end }}
            </div>
              <div class="left-arrow-2 w-slider-arrow-left podcast-page">
                <div class="icon-5 w-icon-slider-left"></div>
              </div>
            <div class="right-arrow-2 w-slider-arrow-right podcast-page">
              <div class="w-icon-slider-right"></div>
            </div>
            <div class="slide-nav-2 w-slider-nav w-round"></div>
          </div>
      </div>
    </div>
  </div>
</div>

{{ end }}

{{ define "addscripts" }}
<script type="text/javascript" src="/js/audio-player.js"></script>
{{ end }}