<!--will made child div with class "grid-item-image" go to 0.5 opacity-->
<!--data-ix="artist-page-grid-item-hover"-->

<!--will make child div with class "podcast-grid-image-overlay" and class "play-notification" appear-->
<!-- data-ix="podcast-hover" -->

    <article class="blog-grid-item-smaller">
        <a href="{{ .RelPermalink }}" class="grid-item-inner w-inline-block">
        {{ if .Params.FeaturedImage }}
            <figure class="author-grid-item-image-outer" style="background-image: URL({{ .Params.FeaturedImage }}?w=400&q=80)"></figure>
        {{ end }}
        <div class="div-block-4">
            <h2 class="podcast-heading">{{ .Title }}</h2>
            <!--<p class="blog-meta-text-copy">{{ .Date.Format "Jan 16, 2006"}}</p>-->
            <p class="paragraph-9">{{if .Description}}{{ .Description | truncate 100 }}{{else}}{{ .Summary | truncate 100 }}{{end}}</p>
        </div>
        </a>
    </article>

<!--
    <article id="test" class="podcast-grid-item author-profile">
        <a href="{{ .RelPermalink }}" class="grid-item-inner artist-page w-inline-block">
        {{ if .Params.FeaturedImage }}
            <figure class="podcast-grid-image author-profile" style="background-image: URL({{.Params.FeaturedImage}}?w=400&q=80)"></figure>
        {{ end }}
        <div class="podcast-grid-content">
            <h2 class="podcast-heading">{{ .Title }}</h2>
            <div class="text-block-5">{{ .Description | truncate 100 }}</div>
        </div>
        </a>
    </article>
-->