<div class="blog-comment-wrapper mailchimpForm">
        <div class="image-overlay"></div>
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup" style="z-index: 1; position: relative;">
          <form action="https://sogmi.us16.list-manage.com/subscribe/post?u=ae8c577da8fbed8859b5f6a9d&amp;id=319f6e763d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <h2 class="mailingList">Subscribe to our mailing list</h2>
              <div class="fieldGroupFlex">
                <div class="mc-field-group">
                  <input type="text" value="" name="FNAME" placeholder="First Name" class="w-input" id="mce-FNAME">
                </div>
                <div class="mc-field-group">
                  <input type="text" value="" name="LNAME" placeholder="Last Name"class="w-input" id="mce-LNAME">
                </div>
              </div>
              <div class="mc-field-group">
                <input type="email" value="" name="EMAIL" placeholder="Email Address (Required)" class="required email w-input" id="mce-EMAIL">
              </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_ae8c577da8fbed8859b5f6a9d_319f6e763d" tabindex="-1" value="">
              </div>
              <div class="clear">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button email-form-button">
              </div>
            </div>
          </form>
        </div>
        <!--End mc_embed_signup-->
      </div>