{{ $today := now.Format "Monday" }}
<!--home-->
<a href="/" class="nav-link w-inline-block">Home</a>
<!--about-->
<div class="dropdown-2 w-dropdown" data-delay="0">
    <div class="nav-link dropdown w-dropdown-toggle">
        <div>About</div>  
    </div>
    <div class="dropdown-list w-dropdown-list">
        <a href="/about/who-we-are" class="nav-link w-dropdown-link">Who We Are</a>
        <a href="/about/what-we-do" class="nav-link w-dropdown-link">What We Do</a>        
        <a href="/people" class="nav-link w-dropdown-link">Our Team</a>
    </div>
</div>
<!--events-->
<a href="/events" class="nav-link w-inline-block">Events</a>
<!--resources-->
<div class="dropdown-2 w-dropdown" data-delay="0">
    <div class="nav-link dropdown w-dropdown-toggle">
        <div>Resources</div>  
    </div>
    <div class="dropdown-list w-dropdown-list">
        <a href="/articles" class="nav-link w-dropdown-link">Articles</a>
        <a href="/series/the-prophetic-voice-of-our-time" class="nav-link w-dropdown-link">Podcasts</a>        
        <a href="/videos" class="nav-link w-dropdown-link">Videos</a>
    </div>
</div>    
<!--connect-->
<div class="dropdown-2 w-dropdown" data-delay="0">
    <div class="nav-link dropdown w-dropdown-toggle">
        <div>Connect</div>  
    </div>
    <div class="dropdown-list w-dropdown-list">
        <a href="/locations/freedom-fellowship-church" class="nav-link w-dropdown-link">Service Times</a>
        <a href="/contact" class="nav-link w-dropdown-link">Contact Us</a>        
    </div>
</div>

<!--watch live-->
<!--<a href="/live" {{ if ne $today "Monday" }} style="filter: saturate(0); opacity: 0.5" {{end}} class="nav-link nav-button donate w-inline-block">Watch Live</a>-->
<!--donate-->
<a href="/donate" class="nav-link nav-button w-inline-block">
    <div>Donate</div>
</a>
