{{ partial "footer-content.html" }}
<!--audio player js-->
<script>
    $(document).ready(function () {
        init();
        function init(){
            var current = 0;
            var audio = $('#audio');
            var playlist = $('#playlist');
            var tracks = playlist.find('a');
            var len = tracks.length - 1;
            audio[0].volume = 1;
            audio[0].play();
            playlist.on('click','a', function(e){
                e.preventDefault();
                link = $(this);
                current = link.parent().index();
                run(link, audio[0]);
            });
            audio[0].addEventListener('ended',function(e){
                current++;
                if(current == len){
                    current = 0;
                    link = playlist.find('div a')[0];
                }else{
                    link = playlist.find('div a')[current];    
                }
                run($(link),audio[0]);
            });
        }
        function run(link, player){
                player.src = link.attr('href');
                par = link.parent();
                par.addClass('active').siblings().removeClass('active');
                player.load();
                player.play();
        }
    });
</script>

<script>
    function copyText() {
        var copyText = document.getElementById("podcast-link");
        copyText.select();
        document.execCommand("Copy");
        alert("The following has been copied to your clipboard: " + copyText.value);
    }
</script>

{{ partial "javascripts.html" }}

</body>
</html>