<div class="podcast-sidebar">
    {{ $t := .Title }}
    {{ range .Site.Pages }}
        {{ if eq .Section "podcastSeries" }}
            {{ if eq .Title $t }}
                <div class="div-block-12">
                    <div class="div-block-13"></div>
                    <img src="{{ .Params.AlbumImage }}?w=400" width="182" alt="{{ .Title }}" srcset="{{ .Params.AlbumImage }}?w=400" sizes="(max-width: 479px) 100vw, (max-width: 767px) 193.72500610351562px, 27vw" class="image" />
                </div>
            {{ end }}
        {{ end }}
    {{ end }}
    
    {{ $s := .Params.Series }}
    {{ range .Site.Pages }}
        {{ if eq .Section "podcastSeries" }}
            {{ if eq .Title $s }}
                <div class="div-block-12">
                    <div class="div-block-13"></div>
                    <img src="{{ .Params.AlbumImage }}?w=400" width="182" alt="{{ .Title }}" srcset="{{ .Params.AlbumImage }}?w=400" sizes="(max-width: 479px) 100vw, (max-width: 767px) 193.72500610351562px, 27vw" class="image" />
                </div>
            {{ end }}
        {{ end }}
    {{ end }}

    <div class="div-block-14">
        <div class="w-form">
            <form id="email-form" name="email-form" data-name="Email Form" class="form">
                <input type="text" class="text-field w-input" maxlength="256" name="search" data-name="Search" placeholder="search episodes" id="search" required="" />
                <input type="submit" value="GO" data-wait="Please wait..." class="submit-button w-button" />
            </form>
            <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
            </div>
        </div>
        <!--
            <h3 class="heading-14">Sort By Host:</h3>
            <div class="w-list-unstyled" style="margin-bottom: 20px">
            {{ range .Site.Taxonomies.hosts.ByCount }}  
                <a href="/hosts/{{ .Name | urlize }}" style="text-transform: capitalize; display: block">{{ replaceRE "-" " "  .Name }}</a>
            {{ end }}
            </div>
        -->
        <h3 class="heading-14">Sort by Topic:</h3>
        <div class="unordered-list-2 w-list-unstyled">
            {{ range first 10 .Site.Taxonomies.keywords.ByCount }}
            <a href="/keywords/{{ .Name | urlize }}" class="list-item-2">
              <div class="text-block-4">{{ replaceRE "-" " "  .Name }}</div>
            </a>
            {{ end }}
        </div>
    </div>
</div>