{{ $related := .Site.RegularPages.Related . | first 6 }}
{{ with $related }}
<div class="related-post-wrapper">
  <h2 class="about-author related">Related Articles</h2>
  <div data-animation="slide" data-duration="500" data-infinite="1" class="slider-2 w-slider">
    <div class="mask-3 w-slider-mask">
        {{ range . }}
          <div class="slide-3 w-slide">
            <a href="{{ .RelPermalink }}" class="related-post-inner w-inline-block">
              <div class="relative-wrapper">
                {{ if .Params.Thumbnail }}
                <div class="related-post-image" style="background-image: url({{ .Params.Thumbnail }})"></div>
                {{ else }}
                <div class="related-post-image" style="background-image: url({{ .Params.FeaturedImage }}?w=350&h=200&q=80)"></div>
                {{ end }}
                <div class="image-color-overlay blue"></div>
              </div>
              <div class="div-block-52-copy">
                <h3 class="heading-40">{{ .Title }}</h3>
                <p class="paragraph-10">{{ .Description | truncate 100 }}</p>
              </div>
            </a>
          </div>
        {{ end }}
    </div>
          <div class="left-arrow-2 w-slider-arrow-left">
            <div class="icon-5 w-icon-slider-left"></div>
          </div>
    <div class="right-arrow-2 w-slider-arrow-right">
      <div class="w-icon-slider-right"></div>
    </div>
    <div class="slide-nav-2 w-slider-nav w-round"></div>
  </div>
</div>
{{ else }}
<div class="related-post-wrapper">
  <h2 class="about-author related">Recent Articles</h2>
  <div data-animation="slide" data-duration="500" data-infinite="1" class="slider-2 w-slider">
    <div class="mask-3 w-slider-mask">
        {{ range where .Site.Pages "Section" "articles" | first 6 }}
          {{ if ne .Params.IgnoreLists true }}
          <div class="slide-3 w-slide">
            <a href="{{ .RelPermalink }}" class="related-post-inner w-inline-block">
              <div class="relative-wrapper">
                {{ if .Params.Thumbnail }}
                <div class="related-post-image" style="background-image: url({{ .Params.Thumbnail }})"></div>
                {{ else }}
                <div class="related-post-image" style="background-image: url({{ .Params.FeaturedImage }}?w=350&h=200&q=80)"></div>
                {{ end }}
                <div class="image-color-overlay blue"></div>
              </div>
              <div class="div-block-52-copy">
                <h3 class="heading-40">{{ .Title }}</h3>
                <p class="paragraph-10">{{ .Description | truncate 100 }}</p>
              </div>
            </a>
          </div>
          {{ end }}
        {{ end }}
    </div>
          <div class="left-arrow-2 w-slider-arrow-left">
            <div class="icon-5 w-icon-slider-left"></div>
          </div>
    <div class="right-arrow-2 w-slider-arrow-right">
      <div class="w-icon-slider-right"></div>
    </div>
    <div class="slide-nav-2 w-slider-nav w-round"></div>
  </div>
</div>
{{ end }}