<div id="search-modal" class="">
    <div class="container">
        <div id="closeSearch" class="top-nav-link w-inline-block">
            <span class="text-block-25"></span>
            <span>&nbsp;close search</span>
        </div>
        <div style="font-family: 'Fontawesome webfont', sans-serif; font-size: 30px; position: relative;">
            <span style="position: absolute; left: 0px; top: 14px; opacity: 0.3; z-index: 10"></span>
            <input style="padding-left: 40px" type="text" id="search-input" name="search-input"/>
        </div>
        <div id="hits">
            <!-- Hits widget will appear here -->
        </div>
        <div style="display:flex; justify-content: space-between; align-items: center">
        <div id="stats">
            <!-- Load time and number of results will appear here -->
        </div>
        <a href="https://www.algolia.com/" target="_blank"><img src="/img/search-by-algolia.png" width="100"/></a>
        </div>
    </div>
</div>