<div class="share-box">
    <div class="div-block-22">
      <div>share</div>
    </div>
    <div class="div-block-44">
      <a href="http://www.facebook.com/sharer.php?u={{ .Permalink }}" target="_blank" class="link-block-2-copy facebook w-inline-block">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="http://twitter.com/share?text={{ .Title }}&amp;url={{ .Permalink }}" target="_blank" class="link-block-2-copy twitter w-inline-block">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="http://pinterest.com/pin/create/button/?url={{ .Permalink }}&description={{ .Title }}" target="_blank" class="link-block-2-copy pinterest w-inline-block">
        <i class="fab fa-pinterest"></i>
      </a>
      <a href="https://plus.google.com/share?url={{ .Permalink }}" target="_blank" class="link-block-2-copy google-plus w-inline-block">
        <i class="fab fa-google"></i>
      </a>
      <a href="http://www.reddit.com/submit?url={{ .Permalink }}" target="_blank" class="link-block-2-copy reddit w-inline-block">
        <i class="fab fa-reddit"></i>
      </a>
    </div>
</div>