{{ partial "header.html" . }}

<div class="content-section">
    <div class="container notfound">
        <h1>Error: 404</h1>
        <h2>This is not the page you're looking for!</h2>
        <p>Sorry the page your are trying to reach either doesn't exist or has been moved. Perhaps you will find what your are looking for by searching our website below.</p>
        <label for="search-input" style="width: 100%; font-weight: normal; position: relative;">
            <div id="notfound-search">Search Site Content</div>
        </label>
    </div>
</div>

{{ partial "footer.html" }}