{{ define "main" }}

{{ $d := .Params.endDate }}
{{ $t := dateFormat "20060102" $d }}
{{ $n := dateFormat "20060102" now }}
{{ $tz := .Params.timezone }}
{{ if ge $t $n }}
<div class="event-single-header" style="position: relative; background-image: URL({{ .Params.FeaturedImage }}?w=1800&q=80)">
    <div class="image-overlay blog"></div>
    <div class="event-banner-container" style="z-index: 1">
        <div class="return-to-event-link"><a href="/events" class="return-to-event-link">return to events</a></div>
        {{ with .Params.startdate }}
            <h3 id="title-date-str" data-date="{{ . }}" class="heading-37">{{ dateFormat "January 2, 2006" . }}</h3>
        {{ end }}
        <h1 class="heading-12">{{ .Title }}</h1>
        <h4 class="event-single-subheading">{{ .Params.Venue }}  |  {{ .Params.City }}, {{ .Params.State }}</h4>
        {{ if eq .Params.registrationType "Eventbrite" }}
            <!--EVENTBRITE CODE-->
            <!-- Noscript content for added SEO -->
            <noscript><a href="{{ .Params.EventbriteURL }}" rel="noopener noreferrer" target="_blank"></noscript>
            <!-- You can customize this button any way you like -->
            <button class="event-button w-button" id="eventbrite-widget-modal-trigger-{{ .Params.EventbriteId }}" type="button">
                {{ if .Params.freeEvent }}
                    Register
                {{ else }}
                    Get Tickets
                {{ end }}</button>
            <noscript></a>Buy Tickets on Eventbrite</noscript>
            <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>         
            <script type="text/javascript">
                var exampleCallback = function() {
                    console.log('Order complete!');
                };           
                window.EBWidgets.createWidget({
                    widgetType: 'checkout',
                    eventId: '{{ .Params.EventbriteId }}',
                    modal: true,
                    modalTriggerElementId: 'eventbrite-widget-modal-trigger-{{ .Params.EventbriteId }}',
                    onOrderComplete: exampleCallback
                });
            </script>
            <!--END EVENTBRITE-->
        {{ end }}
        {{ if eq .Params.registrationType "Paypal" }}
            <a href="#" data-ix="event-button-click" class="event-button w-button">Get Tickets</a>
            <div class="event-button-popup">
                <div class="event-single-banner-container-copy">
                <div class="event-button-popup-inner">
                    <div data-ix="event-popup-close" class="html-embed-5 w-embed"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
                    <h3 class="heading-13">Stuff to Register Goes Here</h3>
                </div>
                </div>
            </div>
        {{ end }}
        {{ if eq .Params.registrationType "Registration is Closed" }}
            <a href="#" class="event-button w-button">Registration for this event is currently closed</a>
        {{ end }}
        {{ if eq .Params.registrationType "No Registration Required" }}
            <a href="#" class="event-button w-button">Registration is not required.</a>
        {{ end }}
        {{ if eq .Params.registrationType "HTML Embed"}}
            {{ with .Params.htmlEmbedCode }}
            <div class="event-embed-popup" id="event-embed-popup">
                <div class="event-embed-popup-background event-embed-popup-closer"></div>
                <div class="event-embed-popup-content">
                    <div style="text-align: right; padding-bottom: 10px;">
                        <button class="event-embed-popup-close-btn event-embed-popup-closer">X close</button>
                    </div>
                    <div>
                        {{ . | safeHTML }}
                    </div>
                </div>
            </div>
            {{ end }}
            <button href="#" class="event-button w-button" id="event-embed-button">Click to Register</button>
            <script>
                const eventEmbedBtn = document.querySelector("#event-embed-button");
                const eventEmbedPopup = document.querySelector("#event-embed-popup");
                const eventEmbedPopupClosers = document.querySelectorAll(".event-embed-popup-closer");
                if (eventEmbedBtn instanceof HTMLButtonElement) {
                    eventEmbedBtn.addEventListener("click", (e) => {
                        document.querySelector("html").classList.add('overflow-hidden');
                        eventEmbedPopup.classList.add('active');
                    });
                }
                for (let i = 0; i < eventEmbedPopupClosers.length; i++) {
                    const item = eventEmbedPopupClosers[i];
                    if(item instanceof HTMLElement) {
                        item.addEventListener('click', (e) => {
                            document.querySelector('html').classList.remove('overflow-hidden');
                            eventEmbedPopup.classList.remove('active');
                        })
                    }
                }
            </script>
        {{ end }}
    </div>
</div>
<div class="content-section">
    <div class="event-single-banner-container-copy">
        <div class="event-details-wrapper">
        <div data-duration-in="300" data-duration-out="300" class="w-tabs">
            <div class="tabs-menu w-tab-menu">
            <a data-w-tab="Basic Info" class="event-tab-link w-inline-block w-tab-link w--current">
                <div>Details</div>
            </a>
            <a data-w-tab="Basic Info 2" class="event-tab-link w-inline-block w-tab-link">
                <div>Directions</div>
            </a>
            {{ if .Params.people }}
                <a data-w-tab="Speakers" class="event-tab-link w-inline-block w-tab-link">
                    <div>Speakers</div>
                </a>
            {{ end }}
            {{ if eq .Params.HideFaq false }}
            <a data-w-tab="FAQ" class="event-tab-link w-inline-block w-tab-link">
                <div>FAQs</div>
            </a>
            {{ end }}
            </div>
            <div class="event-tab-content w-tab-content">
            <div data-w-tab="Basic Info" class="w-tab-pane w--tab-active">
                {{ if .Description }}
                <h1 class="heading-36">Short Description</h1>
                <p class="paragraph-3">{{ .Description }}</p>
                {{ end }}
                <h1 class="heading-36">Date &amp; Time</h1>
                <p class="paragraph-3">
                    {{ with .Params.StartDate }}
                        <b>Starts:&nbsp;</b>
                        <span id="start-date-str" data-date="{{ . }}">
                        {{ . | dateFormat "Monday, January 2, 2006 at 3:04 PM UTC"  }}
                        </span>
                        <br/>
                    {{ end }}
                    {{ with .Params.EndDate }}
                        <b>End: &nbsp;</b>
                        <span id="end-date-str" data-date="{{ . }}">{{ . | dateFormat "Monday, January 2, 2006 at 3:04 PM UTC"  }}</span>
                    {{ end }}
                </p>
                <!--create variable for <faq> which will be used to split the main content of the .md file in the content directory-->
                {{ $split := split .Content "<faq>" }}
                
                <!--grab any content before the first appearance of <faq> in the .md file-->
                {{ with index $split 0 }}
                    <h1 class="heading-36">Details</h1>
                    <div class="w-richtext events">
                    {{ . | safeHTML }}
                    </div>
                {{ end }}

            </div>
            <div data-w-tab="Basic Info 2" class="w-tab-pane">
                <h1 class="heading-36">Directions</h1>
                <p class="paragraph-3"><span id="street_address"><b>{{ .Params.Venue }}</b><br/>{{ .Params.StreetAddress }}</span> <br/><span id="city_state_zip">{{ .Params.City }}, {{ .Params.State }} {{ .Params.ZipCode }}</span></p>
                <div id="map" style="margin-bottom: 10px"></div>
                <p style="margin: 0px">
                    <a target="_blank" href="https://www.google.com/maps/dir//{{ .Params.Venue }},+{{ .Params.StreetAddress }},+{{ .Params.City }},+{{ .Params.Region }}+{{ .Params.ZipCode }}/">
                    Get Directions
                    </a>
                </p>
                <h1 class="heading-36">Parking</h1>
            </div>
            <!--when speakers are set-->
            {{- if .Params.people -}}
            <div data-w-tab="Speakers" class="w-tab-pane" style="margin-bottom: 20px">
                <h1 class="heading-36">Speakers</h1>
                <div class="event-speaker-grid">
                    <!--create a loop for each speaker "." represents the item name. Assign "." the variable $val-->
                    {{- range .Params.people -}}
                        {{ $id := add .id ".md" }}
                        {{ $name := .title }}
                        {{- range where $.Site.RegularPages "Section" "=" "people" -}}
                        {{- if eq .File.LogicalName $id -}}
                            <div class="event-speaker-item">
                                <div class="event-speaker-inner">
                                    <div class="speaker-photo" style="background-image: URL({{ .Params.ProfilePhoto }}?h=300&w=300&f=face&fit=fill&)"></div>
                                    <div class="div-block-82">
                                        <h2 class="heading-11">{{ $name }}</h2>
                                        <p class="paragraph-13">{{ truncate 250 .Params.Bio  }}</p>
                                        <a href="{{ .RelPermalink }}" class="button-9 w-button events">View Profile</a>
                                    </div>
                                </div>
                            </div>
                        {{- end -}}
                        {{- end -}}
                    {{- end -}}
                </div>
            </div>
            {{- end -}}
            <!--end speaker grid-->
            {{ if eq .Params.hideFaq false }}
                <div data-w-tab="FAQ" class="w-tab-pane">
                <!--grab any content after the first appearance of <faq> in the .md file-->
                {{ with index $split 1 }}
                    <h1 class="heading-36">Frequently Asked Questions</h1>
                    <div class="w-richtext events">
                    {{ . | safeHTML }}
                    </div>
                {{ end }}
            {{ end }}
            </div>
            </div>
        </div>
        </div>
    </div>
 </div>
{{ else }}
<!--gallery page-->
<div class="event-gallery-header" style="position: relative; background-image: URL({{ .Params.FeaturedImage }}?w=1920&q=80&fm=jpg&fl=progressive); background-size: cover; background-position: center center">
    <div class="image-overlay"></div>
    <div class="banner-container gallery">
        <div><a href="/events/past-events/" class="return-to-event-link gallery">return to gallery archive </a></div>
        {{ with .Params.startDate }}
            <h3 class="gallery-date">{{ . | dateFormat "January 2, 2006"  }}</h3>
        {{ end }}
      <h1 class="gallery-header">{{ .Title }}</h1>
      <h4 class="gallery-single-subheading">{{ .Params.Venue }} &nbsp;|&nbsp; {{ .Params.City }}, {{ .Params.State }}</h4>
    </div>
</div>
<div class="content-section">
    <div class="container">
        <p style="margin-bottom: 50px">This event has ended&nbsp;&nbsp;<br/><a href="#" data-ix="open-transcript">+View Event Details</a></p>
        <div id="gallery" class="gallery-grid-wrapper">
            {{ if .Params.gallery }}
                {{ range .Params.gallery }}
                    <a href="#" class="gallery-grid-item w-inline-block w-lightbox">
                        <img src="{{ .url }}?w=230&h=230&q=80&fit=fill&fm=jpg&fl=progressive" width="auto" alt="{{ .description }}"/>
                        <!--<div class="gallery-grid-photo" style="background-image:URL({{ .url }}?w=500&h=500&q=70&fit=fill); background-size: cover;"></div>-->
                        <script type="application/json" class="w-json">
                            {
                            "items": [{
                                "type": "image",
                                "_id": "{{ .title | urlize }}",
                                "url": "{{ .url }}?w=1200&fit=fill&fm=jpg&fl=progressive"
                            }],
                            "group": "Gallery"
                            }
                        </script>
                    </a>
                {{ end }}
            {{ end }}
        </div>
    </div>
</div>
{{ partial "transcript-popup.html" . }}
{{ end }}

<script>

    // heading date
    var titleDateContainer = document.getElementById("title-date-str");
    var titleDateStr = titleDateContainer.getAttribute("data-date");
    var titleDate = titleDateStr.length > 1 ? new Date(titleDateStr) : null;
    if(titleDate) {
        titleDateContainer.innerHTML = titleDate.toLocaleDateString();
    }

    // start date
    var startDateContainer = document.getElementById("start-date-str");
    var startDateStr = startDateContainer.getAttribute("data-date");
    var startDate = startDateStr.length > 1 ? new Date(startDateStr) : null;
    if(startDate) {
        startDateContainer.innerHTML = startDate.toLocaleString();
    }
    // end date
    var endDateContainer = document.getElementById("end-date-str");
    var endDateStr = endDateContainer.getAttribute("data-date")
    var endDate = endDateStr.length > 1 ? new Date(endDateStr) : null;
    if(endDate) {
        endDateContainer.innerHTML = endDate.toLocaleString();
    }
</script>

 <script>
    // google maps renderer
    var geocoder;
    var map;
    function codeAddress() {
      geocoder = new google.maps.Geocoder();
      var lat='';
      var lng=''
      var city_state_zip = document.getElementById("city_state_zip").innerHTML;
      var street_address = document.getElementById("street_address").innerHTML;
      var address = street_address + " " + city_state_zip;
      geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
         lat = results[0].geometry.location.lat(); //getting the lat
         lng = results[0].geometry.location.lng(); //getting the lng
         map.setCenter(results[0].geometry.location);
         var marker = new google.maps.Marker({
             map: map,
             position: results[0].geometry.location
         });
       } else {
              alert("Geocode was not successful for the following reason: " + status);
              }
       });
       var latlng = new google.maps.LatLng(lat, lng);
       var myOptions = {
           zoom: 15,
           center: latlng,
           mapTypeId: google.maps.MapTypeId.ROADMAP
       }
       map = new google.maps.Map(document.getElementById("map"), myOptions);
       }
  
  
  window.onload = function(){
         codeAddress();
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxm0ubI8DIoOm_3kV7rTAiC7pkf1ASC34&callback=initMap"></script>

{{ end }}
