{{ define "metadata" }}
  {{- $t := print .Title " " .Params.Subheading -}}
  {{- $t1 := .Params.MetaTitle -}}
  {{- $d := .Params.metaDescription -}}
  {{- $d2 := .Description -}}
  <title>{{- if $t1 -}}{{ $t1 }}{{- else -}}{{ $t }}{{- end -}}</title>
  <meta name="description" content="{{ if $d }}{{ $d }}{{ else }}{{ $d2 }}{{ end }}">
  <meta property="og:title" content="{{ if $t1 }}{{ $t1 }}{{ else }}{{ $t }}{{ end }}" >
  <meta property="og:description" content="{{ if $d }}{{ $d }}{{ else }}{{ $d2 }}{{ end }}" >
  <meta property="og:image" content="{{- .Params.AlbumImage -}}" >
  <meta name="twitter:card" content="summary" >
  <meta name="twitter:title" content="{{ if $t1 }}{{ $t1 }}{{ else }}{{ $t }}{{ end }}" >
  <meta name="twitter:description" content="{{ if $d }}{{ $d }}{{ else }}{{ $d2 }}{{ end }}" >
  <meta name="twitter:image" content="{{- .Params.AlbumImage -}}" >
  <meta name="twitter:site" content="@SogmiChurch" />
  <link type="application/rss+xml" rel="alternate" title="{{ .Title }}" href="{{ replace .Params.rssFeed "http://" "https://" }}"/>
{{ end }}

{{ define "main"}}
<div class="content-section podcast">
  {{ partial "audio-player.html" }}
  <div class="subscribe-modal-window">
    <div class="div-block-78" data-ix="subscribe-modal-dissappear"></div>
    {{- $t := .Title -}}
    {{- partial "podcast-subscription-modal.html" . -}}
  </div>
  <div class="container">
    <div class="column-row w-row">
      <div class="column-6 w-col w-col-4">
        {{- partial "podcast-sidebar.html" . -}}
      </div>
      <div class="column-right w-col w-col-8">
        <div class="div-block-15">
          <div class="div-block-45" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, .35), rgba(0, 0, 0, .35)), url({{ .Params.FeaturedImage }}?w=700&q=50&fl=progressive)">
            <div class="heading-17-copy">{{ .Title }}</div>
            <div class="text-block-19">{{ .Params.SubHeading }}</div>
            <a href="#" class="subscribe-button secondary w-inline-block" data-ix="subscribe-modal-appear">
              <div class="text-block-33">Subscribe</div>
            </a>
          </div>
          <div class="div-block-46">
            <h1 class="heading-17">{{ .Title }}</h1>
              {{ .Description | markdownify }}
            <a href="#" class="subscribe-button w-inline-block" data-ix="subscribe-modal-appear">
              <div class="text-block-33">Subscribe</div>
            </a>
          </div>
        </div>
        <ul id="playlist" class="standard-grid-wrapper w-list-unstyled">
          {{ range $i, $e := (.Paginate (.Pages.ByParam "episodeNumber" ).Reverse 20).Pages }}
            {{- partial "grid-item.html" (dict "local" . "index" $i) -}}
          {{- end -}}
        </ul>
        <div class="pagination">
          <div class="pagination-button-wrap">
            {{- if .Paginator.HasPrev -}}
              <a class="pagination-button" aria-label="first page" href="{{ .Paginator.First.URL }}">
                  <span style="font-size: 14px"><i class="fas fa-chevron-left"></i>&nbsp;</span>
                  <span style="font-family: Poppins, san-serif; font-size: 14px; line-height: 24px">first</span>
              </a>
            {{- end -}}
            {{- if .Paginator.HasPrev -}}
              <a class="pagination-button" aria-label="previous-page" href="{{ .Paginator.Prev.URL }}">
                  <span style="font-size: 14px"><i class="fas fa-chevron-left"></i></span>
              </a>
            {{- end -}}
          </div>
          <div class="pagination-button-wrap">
            {{- if .Paginator.HasNext -}}
                <a class="pagination-button" aria-label="next page" href="{{ .Paginator.Next.URL }}">
                    <span style="font-size: 14px"><i class="fas fa-chevron-right"></i></span>
                </a>
            {{- end -}}
            {{- if .Paginator.HasNext -}}
                <a class="pagination-button" aria-label="last page" href="{{ .Paginator.Last.URL }}">
                    <span style="font-family: Poppins, san-serif; font-size: 14px; line-height: 24px">last</span>
                    <span style="font-size: 14px">&nbsp;<i class="fas fa-chevron-right"></i></span>
                </a>
            {{- end -}}
          </div>            
        </div>
      </div>
    </div>
  </div>
</div>


{{ end }}

{{ define "addscripts"}}
<script src="/js/audio-player.js"></script>
{{ end }}