{{ define "main"}}

<div class="content-section">
    <div style="text-align: center" class="container">
        {{ .Content }}
    </div>
</div>

{{ end }}

{{ define "addscripts" }}
<script>
    $(function() {
          //caches a jQuery object containing the header element
          var form = $("#donation-wrapper");
          $(window).scroll(function() {
            var scroll = $(window).scrollTop();
  
            if (scroll >= 107.2) {
              form.addClass("fixed-form");
            } else {
              form.removeClass("fixed-form");
            }
          });
        });
  </script>
{{ end }}