{{ partial "header.html" . }}
{{ $now := now.Format "Monday" }}
{{ $live := .Params.CurrentlyLiveStreaming }}
{{ if .Params.videoId }}
    <div id="liveBanner" style="background: URL(/img/green-fibers.png); background-size: 400px;">
        <div class="image-overlay" style="background: #333333; opacity: .6"></div>
        <div id="liveWrap">
            <div id="liveVideo">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{ .Params.VideoID }}?modestbranding=1&autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            <div id="liveChat">
                <iframe width="100%" height="auto" src="https://www.youtube.com/live_chat?v={{ .Params.VideoID }}&amp;embed_domain=sogmi.org"></iframe>    
                <a class="ytbutton w-button" href="https://www.youtube.com/watch?v={{ .Params.VideoID }}">Join the live chat on Youtube</a>
            </div>
        </div>
    </div>
    {{ else }}
    <div id="liveBanner" style="background: URL(/img/green-fibers.png); background-size: 400px; color: white;">
        <div class="image-overlay"></div>
        <div class="container" style="z-index: 10; position: relative; text-align: center">
                <h1 style="font-size: 2.5rem; line-height: 3rem;">Sorry we aren't streaming today</h1>
                <h2 style="font-size: 1.2rem; line-height: 2rem;">Check below to see when you can catch our next broadcast!</h2>
        </div>
    </div>
    {{ end }}
<div class="content-section">
    <div class="container">
        <h1 style="text-align: center; opacity: 0.5; color: var(--light-blue); margin-bottom: 20px;">Stream Schedule</h1>
        {{ .Content }}
    </div>
</div>
{{ partial "footer.html" . }}